body {
    background-color:aliceblue;
}
h1{
    color:red;
}
#btnSuma{
    background-color:peru;
    color:white;
    border-radius:5px;
}
#btnRestar{
    background-color:blue;
    color:white;
    border-radius:5px;
}
